.record-filter {
  margin-top: 10px;
  margin-bottom: 25px;
  padding-bottom: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #777;
}

.over-limit {
  color: red;
}